body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u530 {
  position:absolute;
  left:103px;
  top:69px;
  width:170px;
  height:170px;
}
#u531 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  position:absolute;
  left:-2px;
  top:-3px;
  width:380px;
  height:65px;
}
#u532 {
  position:absolute;
  left:0px;
  top:607px;
  width:375px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u533 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u535 {
  position:absolute;
  left:45px;
  top:639px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u535_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u535.selected {
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u537 {
  position:absolute;
  left:47px;
  top:614px;
  width:20px;
  height:20px;
}
#u537_img.selected {
}
#u537.selected {
}
#u538 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u540 {
  position:absolute;
  left:175px;
  top:640px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u540_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u540.selected {
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u542 {
  position:absolute;
  left:177px;
  top:615px;
  width:20px;
  height:20px;
}
#u542_img.selected {
}
#u542.selected {
}
#u543 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u545 {
  position:absolute;
  left:306px;
  top:641px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u545_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u545.selected {
}
#u546 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u547 {
  position:absolute;
  left:308px;
  top:616px;
  width:20px;
  height:20px;
}
#u547_img.selected {
}
#u547.selected {
}
#u548 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
