body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
}
#u9252 {
  position:absolute;
  left:154px;
  top:62px;
  width:127px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#363636;
}
#u9253 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u9254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9254 {
  position:absolute;
  left:44px;
  top:68px;
  width:20px;
  height:20px;
}
#u9255 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u9256 {
  position:absolute;
  left:30px;
  top:96px;
  width:374px;
  height:1px;
}
#u9257 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u9259 {
  position:absolute;
  left:44px;
  top:194px;
  width:342px;
  height:1px;
}
#u9260 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
}
#u9261 {
  position:absolute;
  left:195px;
  top:140px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u9262 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u9263 {
  position:absolute;
  left:85px;
  top:122px;
  width:100px;
  height:56px;
}
#u9264 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u9266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u9267 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u9268 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u9269 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u9270 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u9271 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u9272 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u9273 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u9274 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u9275 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u9276 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u9277 {
  position:absolute;
  left:44px;
  top:289px;
  width:342px;
  height:1px;
}
#u9278 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u9279 {
  position:absolute;
  left:195px;
  top:235px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u9280 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u9281 {
  position:absolute;
  left:85px;
  top:217px;
  width:100px;
  height:56px;
}
#u9282 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u9283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9283 {
  position:absolute;
  left:366px;
  top:66px;
  width:20px;
  height:20px;
}
#u9284 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
