body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u7372 {
  position:absolute;
  left:199px;
  top:64px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#363636;
}
#u7373 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7374 {
  position:absolute;
  left:44px;
  top:66px;
  width:20px;
  height:20px;
}
#u7375 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7376 {
  position:absolute;
  left:30px;
  top:94px;
  width:374px;
  height:1px;
}
#u7377 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u7378 {
  position:absolute;
  left:68px;
  top:167px;
  width:300px;
  height:170px;
}
#u7379 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u7380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u7380 {
  position:absolute;
  left:202px;
  top:347px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7381 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u7382 {
  position:absolute;
  left:328px;
  top:398px;
  width:40px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7383 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u7384 {
  position:absolute;
  left:44px;
  top:443px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7385 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u7386 {
  position:absolute;
  left:44px;
  top:398px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7387 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u7388 {
  position:absolute;
  left:44px;
  top:382px;
  width:341px;
  height:1px;
}
#u7389 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u7390 {
  position:absolute;
  left:44px;
  top:432px;
  width:341px;
  height:1px;
}
#u7391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u7392 {
  position:absolute;
  left:44px;
  top:474px;
  width:341px;
  height:1px;
}
#u7393 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7395 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u7396 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u7397 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7398 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7399 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7400 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u7401 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u7402 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u7403 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7404 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u7405 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
