body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u9361 {
  position:absolute;
  left:198px;
  top:58px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9362 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9363 {
  position:absolute;
  left:43px;
  top:65px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u9364 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
}
#u9365 {
  position:absolute;
  left:83px;
  top:109px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9366 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u9367 {
  position:absolute;
  left:29px;
  top:93px;
  width:374px;
  height:1px;
}
#u9368 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u9371 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u9372 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u9373 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u9374 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u9375 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u9376 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u9377 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u9378 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u9379 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u9380 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9381 {
  position:absolute;
  left:53px;
  top:110px;
  width:20px;
  height:20px;
}
#u9382 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u9383 {
  position:absolute;
  left:360px;
  top:61px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u9384 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:650px;
}
#u9385 {
  position:absolute;
  left:29px;
  top:193px;
  width:374px;
  height:649px;
}
#u9386 {
  position:absolute;
  left:2px;
  top:316px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
