body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u7449 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u7450 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7451 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7452 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7453 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u7454 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u7455 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u7456 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7457 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u7458 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:826px;
}
#u7459 {
  position:absolute;
  left:29px;
  top:20px;
  width:375px;
  height:825px;
}
#u7460 {
  position:absolute;
  left:2px;
  top:404px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u7461 {
  position:absolute;
  left:181px;
  top:64px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#363636;
}
#u7462 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7463 {
  position:absolute;
  left:44px;
  top:68px;
  width:20px;
  height:20px;
}
#u7464 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7465 {
  position:absolute;
  left:30px;
  top:96px;
  width:374px;
  height:1px;
}
#u7466 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7468_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:342px;
  height:106px;
}
#u7468 {
  position:absolute;
  left:50px;
  top:114px;
  width:335px;
  height:99px;
}
#u7469 {
  position:absolute;
  left:2px;
  top:42px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7470 {
  position:absolute;
  left:71px;
  top:126px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7471 {
  position:absolute;
  left:2px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u7472 {
  position:absolute;
  left:105px;
  top:168px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7473 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u7474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u7474 {
  position:absolute;
  left:54px;
  top:164px;
  width:76px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7475 {
  position:absolute;
  left:2px;
  top:-4px;
  width:72px;
  word-wrap:break-word;
}
#u7476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7477 {
  position:absolute;
  left:61px;
  top:124px;
  width:25px;
  height:25px;
}
#u7478 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7479 {
  position:absolute;
  left:65px;
  top:127px;
  width:20px;
  height:20px;
}
#u7480 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u7481 {
  position:absolute;
  left:317px;
  top:136px;
  width:48px;
  height:48px;
}
#u7482 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u7483 {
  position:absolute;
  left:316px;
  top:135px;
  width:50px;
  height:50px;
}
#u7484 {
  position:absolute;
  left:27px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u7485 {
  position:absolute;
  left:318px;
  top:137px;
  width:46px;
  height:46px;
}
#u7486 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u7487 {
  position:absolute;
  left:329px;
  top:144px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7488 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u7489 {
  position:absolute;
  left:326px;
  top:160px;
  width:32px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7490 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u7491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7492_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:342px;
  height:93px;
}
#u7492 {
  position:absolute;
  left:50px;
  top:556px;
  width:335px;
  height:86px;
}
#u7493 {
  position:absolute;
  left:2px;
  top:35px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7494 {
  position:absolute;
  left:71px;
  top:566px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7495 {
  position:absolute;
  left:2px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7496 {
  position:absolute;
  left:63px;
  top:564px;
  width:25px;
  height:25px;
}
#u7497 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7498 {
  position:absolute;
  left:65px;
  top:567px;
  width:20px;
  height:20px;
}
#u7499 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7500 {
  position:absolute;
  left:363px;
  top:567px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7501 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u7502 {
  position:absolute;
  left:54px;
  top:604px;
  width:58px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7503 {
  position:absolute;
  left:2px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u7504 {
  position:absolute;
  left:98px;
  top:608px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u7505 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u7506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u7506 {
  position:absolute;
  left:177px;
  top:604px;
  width:58px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7507 {
  position:absolute;
  left:2px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u7508 {
  position:absolute;
  left:221px;
  top:608px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u7509 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u7510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u7510 {
  position:absolute;
  left:303px;
  top:604px;
  width:58px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7511 {
  position:absolute;
  left:2px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u7512 {
  position:absolute;
  left:339px;
  top:608px;
  width:51px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u7513 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u7514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7515_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:342px;
  height:106px;
}
#u7515 {
  position:absolute;
  left:50px;
  top:224px;
  width:335px;
  height:99px;
}
#u7516 {
  position:absolute;
  left:2px;
  top:42px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7517 {
  position:absolute;
  left:71px;
  top:236px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7518 {
  position:absolute;
  left:2px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u7519 {
  position:absolute;
  left:54px;
  top:274px;
  width:41px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7520 {
  position:absolute;
  left:2px;
  top:-4px;
  width:37px;
  word-wrap:break-word;
}
#u7521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7522 {
  position:absolute;
  left:61px;
  top:234px;
  width:25px;
  height:25px;
}
#u7523 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7524 {
  position:absolute;
  left:65px;
  top:237px;
  width:20px;
  height:20px;
}
#u7525 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u7526 {
  position:absolute;
  left:81px;
  top:274px;
  width:41px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7527 {
  position:absolute;
  left:2px;
  top:-4px;
  width:37px;
  word-wrap:break-word;
}
#u7528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u7528 {
  position:absolute;
  left:223px;
  top:274px;
  width:41px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7529 {
  position:absolute;
  left:2px;
  top:-4px;
  width:37px;
  word-wrap:break-word;
}
#u7530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u7530 {
  position:absolute;
  left:115px;
  top:278px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7531 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u7532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u7532 {
  position:absolute;
  left:258px;
  top:278px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7533 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u7534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7535_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:342px;
  height:106px;
}
#u7535 {
  position:absolute;
  left:50px;
  top:334px;
  width:335px;
  height:99px;
}
#u7536 {
  position:absolute;
  left:2px;
  top:42px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7537 {
  position:absolute;
  left:71px;
  top:346px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7538 {
  position:absolute;
  left:2px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u7539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u7539 {
  position:absolute;
  left:54px;
  top:384px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7540 {
  position:absolute;
  left:2px;
  top:-4px;
  width:57px;
  word-wrap:break-word;
}
#u7541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7542 {
  position:absolute;
  left:61px;
  top:344px;
  width:25px;
  height:25px;
}
#u7543 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7544 {
  position:absolute;
  left:64px;
  top:348px;
  width:20px;
  height:20px;
}
#u7545 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7546 {
  position:absolute;
  left:108px;
  top:388px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7547 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u7548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u7548 {
  position:absolute;
  left:232px;
  top:384px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7549 {
  position:absolute;
  left:2px;
  top:-4px;
  width:57px;
  word-wrap:break-word;
}
#u7550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7550 {
  position:absolute;
  left:286px;
  top:388px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7551 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u7552 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7553_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:342px;
  height:106px;
}
#u7553 {
  position:absolute;
  left:50px;
  top:444px;
  width:335px;
  height:99px;
}
#u7554 {
  position:absolute;
  left:2px;
  top:42px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
}
#u7555 {
  position:absolute;
  left:84px;
  top:456px;
  width:50px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7556 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u7557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u7557 {
  position:absolute;
  left:54px;
  top:494px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7558 {
  position:absolute;
  left:2px;
  top:-4px;
  width:57px;
  word-wrap:break-word;
}
#u7559 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7560 {
  position:absolute;
  left:61px;
  top:454px;
  width:25px;
  height:25px;
}
#u7561 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7562 {
  position:absolute;
  left:64px;
  top:458px;
  width:20px;
  height:20px;
}
#u7563 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7564 {
  position:absolute;
  left:108px;
  top:498px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7565 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u7566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u7566 {
  position:absolute;
  left:232px;
  top:494px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7567 {
  position:absolute;
  left:2px;
  top:-4px;
  width:57px;
  word-wrap:break-word;
}
#u7568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7568 {
  position:absolute;
  left:286px;
  top:498px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u7569 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
