body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  color:#A1A1A1;
}
#u971 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u972 {
  position:absolute;
  left:31px;
  top:451px;
  width:317px;
  height:79px;
}
#u973 {
  position:absolute;
  left:2px;
  top:32px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u974 {
  position:absolute;
  left:14px;
  top:12px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u977 {
  position:absolute;
  left:28px;
  top:381px;
  width:60px;
  height:60px;
}
#u978 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u979 {
  position:absolute;
  left:36px;
  top:387px;
  width:45px;
  height:45px;
}
#u980 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u981 {
  position:absolute;
  left:101px;
  top:387px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(102, 102, 102, 0.349019607843137);
}
#u983 {
  position:absolute;
  left:98px;
  top:417px;
  width:86px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(102, 102, 102, 0.349019607843137);
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u985 {
  position:absolute;
  left:230px;
  top:385px;
  width:72px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u987 {
  position:absolute;
  left:306px;
  top:399px;
  width:13px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u989 {
  position:absolute;
  left:47px;
  top:456px;
  width:68px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u990 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u991 {
  position:absolute;
  left:59px;
  top:487px;
  width:42px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u992 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u993 {
  position:absolute;
  left:83px;
  top:488px;
  width:42px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u994 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u995 {
  position:absolute;
  left:135px;
  top:467px;
  width:1px;
  height:45px;
}
#u996 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u997 {
  position:absolute;
  left:164px;
  top:456px;
  width:61px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u998 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u999 {
  position:absolute;
  left:156px;
  top:488px;
  width:42px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u1000 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u1001 {
  position:absolute;
  left:189px;
  top:488px;
  width:42px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u1002 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u1003 {
  position:absolute;
  left:250px;
  top:467px;
  width:1px;
  height:45px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u1005 {
  position:absolute;
  left:277px;
  top:456px;
  width:61px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#282828;
}
#u1006 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u1007 {
  position:absolute;
  left:277px;
  top:488px;
  width:57px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#282828;
}
#u1008 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1009 {
  position:absolute;
  left:230px;
  top:421px;
  width:81px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1011 {
  position:absolute;
  left:51px;
  top:585px;
  width:25px;
  height:25px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1013 {
  position:absolute;
  left:49px;
  top:615px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1015 {
  position:absolute;
  left:174px;
  top:585px;
  width:25px;
  height:25px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1017 {
  position:absolute;
  left:166px;
  top:615px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1019 {
  position:absolute;
  left:291px;
  top:585px;
  width:25px;
  height:25px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1021 {
  position:absolute;
  left:275px;
  top:615px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:40px;
  width:374px;
  height:1px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
