body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#247AD0;
}
#u19 {
  position:absolute;
  left:81px;
  top:254px;
  width:27px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#247AD0;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:61px;
  top:254px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23 {
  position:absolute;
  left:114px;
  top:257px;
  width:15px;
  height:15px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u25 {
  position:absolute;
  left:61px;
  top:284px;
  width:313px;
  height:1px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:136px;
  top:252px;
  width:238px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u29 {
  position:absolute;
  left:355px;
  top:257px;
  width:17px;
  height:17px;
  font-size:10px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:360px;
  top:258px;
  width:8px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u34 {
  position:absolute;
  left:313px;
  top:345px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u36 {
  position:absolute;
  left:61px;
  top:333px;
  width:313px;
  height:1px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:91px;
  top:298px;
  width:242px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:61px;
  top:301px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u42 {
  position:absolute;
  left:355px;
  top:309px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u44 {
  position:absolute;
  left:360px;
  top:311px;
  width:7px;
  height:7px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:137px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:115px;
  top:423px;
  width:205px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:201px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u48 {
  position:absolute;
  left:184px;
  top:724px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u50 {
  position:absolute;
  left:138px;
  top:732px;
  width:30px;
  height:1px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u52 {
  position:absolute;
  left:267px;
  top:732px;
  width:30px;
  height:1px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:205px;
  top:761px;
  width:30px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u56 {
  position:absolute;
  left:87px;
  top:703px;
  width:145px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
}
#u58 {
  position:absolute;
  left:242px;
  top:703px;
  width:97px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0099FF;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u60 {
  position:absolute;
  left:150px;
  top:465px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u62 {
  position:absolute;
  left:214px;
  top:465px;
  width:1px;
  height:17px;
}
#u63 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u64 {
  position:absolute;
  left:230px;
  top:465px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u67 {
  position:absolute;
  left:325px;
  top:345px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#247AD0;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u69 {
  position:absolute;
  left:63px;
  top:333px;
  width:313px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:93px;
  top:298px;
  width:242px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u72 {
  position:absolute;
  left:63px;
  top:298px;
  width:25px;
  height:25px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0099FF;
}
#u74 {
  position:absolute;
  left:290px;
  top:302px;
  width:86px;
  height:25px;
  font-size:12px;
  color:#0099FF;
}
#u75 {
  position:absolute;
  left:2px;
  top:5px;
  width:82px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u78 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u79 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u81 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u82 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u83 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u84 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u85 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u86 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u87 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
