body {
  margin:0px;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2508 {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  top:50%;
  margin-top:-172px;
}
#u2508_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2508_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2509 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:344px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:164px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2511 {
  position:absolute;
  left:63px;
  top:129px;
  width:290px;
  height:34px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2513 {
  position:absolute;
  left:63px;
  top:179px;
  width:290px;
  height:34px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#3366FF;
}
#u2515 {
  position:absolute;
  left:101px;
  top:32px;
  width:201px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#3366FF;
}
#u2516 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3366FF;
}
#u2517 {
  position:absolute;
  left:59px;
  top:77px;
  width:299px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3366FF;
}
#u2518 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u2519 {
  position:absolute;
  left:104px;
  top:130px;
  width:235px;
  height:32px;
}
#u2519_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u2520 {
  position:absolute;
  left:79px;
  top:134px;
  width:20px;
  height:22px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522 {
  position:absolute;
  left:109px;
  top:180px;
  width:230px;
  height:32px;
}
#u2522_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u2523 {
  position:absolute;
  left:82px;
  top:186px;
  width:15px;
  height:20px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2525 {
  position:absolute;
  left:92px;
  top:250px;
  width:235px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2526 {
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u2527 {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  bottom:0px;
  width:415px;
  height:90px;
  overflow:hidden;
}
#u2527_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2527_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u2528 {
  position:absolute;
  left:105px;
  top:29px;
  width:196px;
  height:16px;
  color:#FFFFFF;
}
#u2529 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
