body {
  margin:0px;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
  position:relative;
  left:-402px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9440 {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  top:50%;
  margin-top:-172px;
}
#u9440_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9440_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9441_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:426px;
  height:355px;
}
#u9441 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:344px;
}
#u9442 {
  position:absolute;
  left:2px;
  top:164px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:35px;
}
#u9443 {
  position:absolute;
  left:63px;
  top:129px;
  width:290px;
  height:34px;
}
#u9444 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:35px;
}
#u9445 {
  position:absolute;
  left:63px;
  top:179px;
  width:290px;
  height:34px;
}
#u9446 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u9447 {
  position:absolute;
  left:101px;
  top:32px;
  width:201px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#3366FF;
}
#u9448 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u9449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u9449 {
  position:absolute;
  left:59px;
  top:77px;
  width:299px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3366FF;
}
#u9450 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u9451 {
  position:absolute;
  left:104px;
  top:130px;
  width:235px;
  height:32px;
}
#u9451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u9452 {
  position:absolute;
  left:79px;
  top:134px;
  width:20px;
  height:22px;
}
#u9453 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9454 {
  position:absolute;
  left:109px;
  top:180px;
  width:230px;
  height:32px;
}
#u9454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u9455 {
  position:absolute;
  left:82px;
  top:186px;
  width:15px;
  height:20px;
}
#u9456 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u9457 {
  position:absolute;
  left:92px;
  top:250px;
  width:235px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9458 {
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u9459 {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  bottom:0px;
  width:416px;
  height:91px;
  overflow:hidden;
}
#u9459_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9459_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u9460 {
  position:absolute;
  left:105px;
  top:29px;
  width:196px;
  height:19px;
  color:#FFFFFF;
}
#u9461 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
