body {
  margin:0px;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
  position:relative;
  left:-402px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9466 {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  top:50%;
  margin-top:-172px;
}
#u9466_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9466_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9467_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:426px;
  height:355px;
}
#u9467 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:344px;
}
#u9468 {
  position:absolute;
  left:2px;
  top:164px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:35px;
}
#u9469 {
  position:absolute;
  left:63px;
  top:129px;
  width:290px;
  height:34px;
}
#u9470 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:35px;
}
#u9471 {
  position:absolute;
  left:63px;
  top:179px;
  width:290px;
  height:34px;
}
#u9472 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u9473 {
  position:absolute;
  left:101px;
  top:32px;
  width:201px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#3366FF;
}
#u9474 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u9475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u9475 {
  position:absolute;
  left:59px;
  top:77px;
  width:299px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3366FF;
}
#u9476 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u9477 {
  position:absolute;
  left:104px;
  top:130px;
  width:235px;
  height:32px;
}
#u9477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u9478 {
  position:absolute;
  left:79px;
  top:134px;
  width:20px;
  height:22px;
}
#u9479 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9480 {
  position:absolute;
  left:109px;
  top:180px;
  width:230px;
  height:32px;
}
#u9480_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u9481 {
  position:absolute;
  left:82px;
  top:186px;
  width:15px;
  height:20px;
}
#u9482 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
}
#u9483 {
  position:absolute;
  left:92px;
  top:250px;
  width:235px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9484 {
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u9485 {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  bottom:0px;
  width:416px;
  height:91px;
  overflow:hidden;
}
#u9485_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9485_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u9486 {
  position:absolute;
  left:105px;
  top:29px;
  width:196px;
  height:19px;
  color:#FFFFFF;
}
#u9487 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
